:root {
    --primary: hsl(217, 99%, 26%);
    --gray: hsl(217, 11%, 64%);
    --white: hsl(216, 100%, 95%);
    --highlight: rgba(251, 255, 38, 0.493);
  }
  
  body {
    font-family: 'Indie Flower', cursive;
    font-size: 1.2rem;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    min-width: 0;
    display: grid;
    grid-row-gap: 50px;
    grid-column-gap: 10px;
    grid-template-columns: 20vw 65vw ;
    grid-template-rows: auto-wrap;
    grid-template-areas: 
       " header         header "
       "nav              main "
       "footer           footer  ";
  }
  
  .header {
    background-color: var(--primary);
    color: var(--white);
    display: grid;
    align-items: center;
    justify-items: center;
    grid-area: header;
    justify-content: center;
    width: 100vw;
  }
  
  .header__title {
    font-size: 3rem;
    margin: 0;
    font-family: 'Pacifico', cursive;
    justify-self: center;
  }
  
  .nav__container {
    box-shadow: var(--gray) 4px 4px 10px 2px;
    display: grid;
    row-gap: 24px;
    grid-template-columns: 1fr;
    width: 180px;
    justify-items: center;
    padding: 12px 0 24px;
    grid-area: nav;
    margin: 0 40px 0 60px;
  }
  
  .nav__link, .nav__link--active {
    text-decoration: none;
    color: var(--primary);
    position: relative;
  }

  .nav__link::after, .nav__link--active::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    margin-left: -90px;
    border-bottom: var(--primary) 1px solid;
    width: 180px;
  }
  
  .nav__link--active {
    box-shadow: inset var(--highlight) 200px 0px 0px 1px;
    padding: 0 70px;
  }

  .img_card__container {
      display: grid;
      grid-area: main;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 10px;
      grid-auto-rows: 350px;
      justify-items: center;
      margin-left: 10px;
  }
  
  .img_card {
    width: 300px;
    box-shadow: var(--gray) 4px 4px 10px 2px;
    border-radius: 3px;
  }
  
  .img_card__img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  
  .img_card__text {
    padding: 0 12px;
  }
  
  .footer {
    display: grid;
    align-items: center;
    justify-items: center;
    justify-self: center;
    grid-area: footer;
  }

  
  @media screen and (max-width: 1100px) {
    body {
        grid-template-columns: 100vw;
        grid-template-areas: 
           " header "
           "nav"
           "main"       
           "footer"  ;
        justify-content: center;
        justify-self: center;
        box-sizing: border-box;
    }

    .nav__container {
      grid-template-columns: repeat(4, 1fr);
      justify-self: center;
      justify-items: center;
      width: 90%;
      display: grid;
    }

    .img_card__container {
        width: 1fr;
        margin-left: 0;
      }

}

@media screen and (max-width: 900px) {
    .header__title {
        font-size: 2rem;
    }

    .nav__link--active::after, .nav__link::after {
     width: 50px;
     left: none;
     margin-left: -20px;
    }

    .nav__link--active, .nav__link {
        justify-self: center;
        padding: 0 5px;
    }

    .nav__link--active {
        box-shadow: inset var(--highlight) 200px 0px 0px 1px;
        padding: 0 30px;
      }
    .nav__container {
        width: 80%;
        justify-items: center;
        border-bottom: 1px ;
        padding: auto;
        margin: auto;
    }
}


@media screen and (max-width: 400px) {
    .header__title {
        font-size: 2rem;
    }

    .nav__link, .nav__link--active {
        font-size: 1rem;
    }

    .nav__link--active {
        padding: 0 20px;
    }
    }
